
{%extends "base.html"%}
{%block title%}
List - ToDO
{%endblock%}
{%block body%}
    <!-- Header-->
    {%if text and not logged%}
    <header class="bg-primary bg-gradient text-white">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">{{text}}</h1>
            <p class="lead">Log in or create new account, it will take no time!</p>
            <a class="btn btn-lg btn-light" href="{{url_for('login')}}">Log in</a>
            <a class="btn btn-lg btn-light" href="{{url_for('register')}}">Register</a>
        </div>
    </header>      
<section>
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>ToDO</h2>
                    <p class="lead">ToDO is your ultimate task management tool designed to help you stay organized and on top of your responsibilities. With ToDO, users can easily create tasks and set reminders to ensure they never miss an important deadline.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container px-4">
        <div class="col-lg-12">
            <h3>Example tasks</h3>
        </div>
        <br>
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-6">
                <h3>Task 1</h3>
                <p class="lead">Our unique email reminder system ensures that you are always notified about your crucial tasks. Additionally, ToDO allows you to create groups for tasks with varying levels of importance, making it simple to prioritize and manage your workload effectively.</p>
            </div>
            <div class="col-lg-6">
                <h3>Task 2</h3>
                <p class="lead">Whether for personal use or team collaboration, ToDO keeps you focused and productive.</p>
            </div>
        </div>
    </div>
</section>
{%endif%}  
{%endblock%}

