
{%extends "base.html"%}
{%block title%}
List - ToDO
{%endblock%}
{%block body%}        
<section>
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>ToDO</h2>
                    <p class="lead">ToDO is your ultimate task management tool designed to help you stay organized and on top of your responsibilities. With ToDO, users can easily create tasks and set reminders to ensure they never miss an important deadline.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-6">
                <h3>Task 1</h3>
                <p class="lead">Our unique email reminder system ensures that you are always notified about your crucial tasks. Additionally, ToDO allows you to create groups for tasks with varying levels of importance, making it simple to prioritize and manage your workload effectively.</p>
            </div>
            <div class="col-lg-6">
                <h3>Task 2</h3>
                <p class="lead">Whether for personal use or team collaboration, ToDO keeps you focused and productive.</p>
            </div>
        </div>
    </div>
</section>
{%endblock%}

