{%extends "base.html"%}
{%block title%}
Register - ToDO
{%endblock%}
{%block body%}
<section>
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8 text-center">
                <form method='POST' action="{{url_for("register")}}" novalidate>
                    {{ form.hidden_tag() }}
                    <div>   
                        {{m.render_form(form.nick)}}
                        {% with messages = get_flashed_messages() %}
                        {% for message in messages %}
                        <p style="color: red;">{{ message }}</p>
                        {% endfor %}
                    {% endwith %}   
                    </div>
                    <div>
                        {{m.render_form(form.email)}}
                    </div>
                    <div>
                        {{m.render_form(form.password)}}
                    </div>
                    <br>
                        <div>
                            {{form.submit(class='btn btn-primary')}}
                        </div>
                    </form>
            </div>
        </div>
    </div>
</section>
{%endblock%}

{%import 'macros.jinja' as m%}