{%extends 'base.html'%}
{%block title%}
Settings - ToDO
{%endblock%}
{%block body%}
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Settings</h1>
        {% with messages = get_flashed_messages() %}
                        {% for message in messages %}
                        <p class='lead'>{{ message }}</p>
                        {% endfor %}
                        {% endwith %}  
    </div>
</header>
<section>
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
        <form method='POST' action="{{url_for("settings")}}" novalidate>
            {{form.hidden_tag()}}
            <div class="col-lg-8">
                {{m.render_form(form.task1)}}
            </div>
            <div class="col-lg-8">
                {{m.render_form(form.task2)}}
            </div>
            <div class="col-lg-8">
                {{m.render_form(form.task3)}}
            </div>
            <div class="col-lg-8">
                <br><br>
                {{form.submit(class='btn btn-primary')}}
            </div>
            <div class="col-lg-8">
        </form>
        <form method='POST' action="{{url_for("settings")}}" novalidate>
            <br>
            {{reset.submit(class='btn btn-secondary')}}
        </form>
        </div>
    </div>
</section>
{%endblock%}

{%import 'macros.jinja' as m%}